.gold {
  color: #f7e279;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #8d8145;
}
.silver {
  color: #bec7d2;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #6d7278;
}
.bronze {
  color: #e09456;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #805531;
}
.red {
  color: #f05858;
}
.green {
  color: #52d64f;
}
.grey {
  color: #808080;
}
.blue {
  color: #3c70df;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.small {
  font-size: 85%;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.boxshadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.noboxshadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}
.insetboxshadow {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
}
.smallbuttonstyle {
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.smallbuttonstyle:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #fff;
}
.smallbuttonstyle:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #fff;
}
#buttonholder {
  width: 100%;
}
#bingoPage #results {
  float: left;
  width: 609px;
  margin-left:  8px;
  margin-right: 8px;
  text-align: right;
}
#bingoPage .newcard {
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0 8px 8px 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 108px;
  padding: 4px 0;
}
#bingoPage .newcard:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #fff;
}
#bingoPage .newcard:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #fff;
}
#bingoPage #bingo {
  margin-top: 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#bingoPage #bingo .rowcol {
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo .rowcol:hover {
  color: #fff;
  background: #1448b3;
}
#bingoPage #bingo tr:first-child td,
#bingoPage #bingo tr:last-child td {
  height: 30px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo tr:first-child td:hover,
#bingoPage #bingo tr:last-child td:hover {
  color: #fff;
  background: #1448b3;
}
#bingoPage #bingo tr td {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  cursor: pointer;
  width: 95px;
  height: 90px;
  text-align: center;
  border: 1px #424242 solid;
  background: #000;
}
#bingoPage #bingo tr td:first-child {
  width: 35px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo tr td:first-child:hover {
  color: #fff;
  background: #1448b3;
}
#bingoPage #bingo tr td:hover,
#bingoPage #bingo tr td.hover {
  background: #001a36;
  color: #fff;
}
#bingoPage #bingo tr td.greensquare {
  background: #005511;
}
#bingoPage #bingo tr td.greensquare:hover,
#bingoPage #bingo tr td.greensquare.hover {
  background: #007722;
}
#bingoPage #bingo tr td.redsquare {
  background: #550011;
}
#bingoPage #bingo tr td.redsquare:hover,
#bingoPage #bingo tr td.redsquare.hover {
  background: #770022;
}
#bingoPage #about_bingo {
  float: right;
  width: 359px;
  margin-right: 16px;
}
#wrap {
    min-height: calc(100% - 56px);
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 8px 0 6px 16px;
    overflow: visible;
}
html,
body {
  background: #111;
  color: #bec7d2;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.22rem;
  padding: 0;
  margin: 0;
  height: 100%;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
strong {
  color: #f7e279;
  font-weight: 700;
}
h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1.22rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: #e09456;
  margin: 8px 0 0;
  padding: 8px 0;
  word-wrap: break-word;
  overflow: hidden;
}
h2 {
  display: block;
  margin: 0 0 8px;
  color: #f7e279;
  font-weight: bold;
  clear: both;
  font-size: 100%;
}
.note {
  color: #808080;
  font-size: 85%;
}
table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
}
td {
  border: 0;
  padding: 0;
}
th {
  background-color: #c01614;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#c01614), to(#a01211));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #c01614, #a01211);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #c01614, #a01211);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #c01614, #a01211);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #c01614, #a01211);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #c01614, #a01211);
  color: #f7e279;
  text-shadow: 1px 1px 3px #111;
  font-weight: 700;
}
a {
    text-decoration: none;
}
input.newcard {
    font: inherit;
}